body {
  font-family: 'Poppins', sans-serif;
  background-color: hsl(0, 0%, 98%);
  color:hsl(234, 12%, 34%);
}

.container {
  width: 1440px;
  margin: 0 auto;

}

header {
  text-align: center;
  font-size: 1.7rem;
}

header span.top{
  display: block;
  font-weight: 200;
}

header span.bottom {
  display: block;
  font-weight: 600;
}

header > p {
  width: 70%;
  margin: 0 auto;
  font-weight: 200;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-row-gap: 2em;
  grid-column-gap: 1em;
  justify-items: center;
  margin-bottom: 5em;

}


.card {
  padding: 20px 35px;
  height: 250px;
  margin: 25px;
  border-radius: 2%;
  background-color: white;
  box-shadow: 3px 3px 5px 6px #eee;
}

#calculator 

#team-builder {
 
 

}

#karma {

}

#supervisor {
 
}

.card#calculator { border-top: 5px solid hsl(212, 86%, 64%);}
.card#team-builder { border-top: 5px solid hsl(0, 78%, 62%);}
.card#karma{ border-top: 5px solid hsl(34, 97%, 64%);}
.card#supervisor { border-top: 5px solid hsl(180, 62%, 55%);}
